[project]
	description = Catalyst tool to share, explain and communicate across boundaries
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mauricio Inguanzo (inguansoft)
[access "refs/for/refs/*"]
	read = group user/Mauricio Inguanzo (inguansoft)
	push = group user/Mauricio Inguanzo (inguansoft)
	label-Code-Review = -2..+2 group user/Mauricio Inguanzo (inguansoft)
	label-Verified = -1..+1 group user/Mauricio Inguanzo (inguansoft)
	rebase = group user/Mauricio Inguanzo (inguansoft)
	removeReviewer = group user/Mauricio Inguanzo (inguansoft)
	submit = group user/Mauricio Inguanzo (inguansoft)
[access "refs/heads/*"]
	read = group user/Mauricio Inguanzo (inguansoft)
	create = group user/Mauricio Inguanzo (inguansoft)
	push = +force group user/Mauricio Inguanzo (inguansoft)
	pushMerge = group user/Mauricio Inguanzo (inguansoft)
[access "refs/tags/*"]
	push = +force group user/Mauricio Inguanzo (inguansoft)
	pushTag = group user/Mauricio Inguanzo (inguansoft)
	pushSignedTag = group user/Mauricio Inguanzo (inguansoft)
